@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.notification-bell {
    margin-right: 10px;
    margin-left: auto;
}

header {
    animation: 1s ease-out 0s 1 slideInFromTop;
    overflow: hidden;
    background: #e3e4e6;
    padding: 10px 20px;
    height: 35px;
    z-index: 1;
}

.dropbtn {
    background-color: #F7991B;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 24pt;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    right: 10px;
    top: -5px;
    line-height: 20px;
}

.dropbtn:hover {
    background-color: #FB7E00;
}

.blank {
    flex-grow: 1;
}

.userbtn {
    margin-left: auto;
   /* position: relative;
    display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5;


}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.userbtn:active .dropdown-content {
    display: block;
}

.userbtn p, a {
    margin: 10px;
    font-family: 'Lato', sans-serif;
}

.userbtn .name {
    color: #C1C1C1;
    border-bottom: #C1C1C1;
    border-bottom-style: solid;
    border-width: 0px;
}

.userbtn:hover .dropbtn {
    background-color: #FB7E00;
}

.notification {
    width: 180px;
    height: 100px;
    z-index: 3;
    padding-right: 20px;
    margin: auto auto 0 auto;
}

.success {
    background-color: #3e8e41;
    color: white;

}

.notification p, h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

.notification-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 50vh; 
    position: fixed; bottom: 150px; right: 20px;
}

.body {
    min-height:100% 
}

.notification h3 {
    font-weight: bold;
}

.error {
    background-color: tomato;
    color: white;

}

.notfound {
    flex-grow: 1;
    text-align: center;
    min-height: 100%
}

.notfound img {
    size: 400px;
}

svg {
    padding: 10px;
    width: 25px;
    height: 25px;
    fill: #BEC9DA;
    position: relative;
    right: 5px;
    top: -5px;
}

svg:hover {
    fill: #C1C1C1;
}

.container {
    display: flex;
}